<!DOCTYPE html>
<head>
  <title>Sound Log</title>
  <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <!-- <img id="logo1" class="logo" src="img/logo.png"> -->
    <h1 id="title">Sound Log</h1>
    <h3>by elizabeth ha &#x3c;3 </h3>
    <!-- <img id="logo2" class="logo" src="img/logo.png"> -->
    <div id="btns">
      <button id="home-btn" onclick="window.location.href='/'">home</button>
      <button id="add-btn" onclick="window.location.href='/sounds/add'">add</button>
      <button id="add-btn" onclick="window.location.href='/sounds/mine'">mine</button>
    </div>
  </header>
    <br>
		{{{ body }}}
    <br>
    <h2>Page Views:</h2>
    {{{ count }}}
</body>
</html>
